.home-container{
 background: linear-gradient(to left, #a445b2, #fa4299);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.home-sub-container{
 background-color: white;
 padding: 40px; 
 padding-top: 10px;
}
.home-buttons{
  /* display: flex;
  justify-content: space-around; */
  text-align: center;
  /* padding: 5px;  */
}
.home-buttons button{
  font-weight: bold;
  padding: 10px;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  
 
  
 
}
.Registration h5,.Login h5{
 padding: 8px;
 text-align: center;
 font-weight: bold;
 font-size: 30px;
 margin: 10px;
 color: #fa4299;
}

.Registration label, .Login label{
  font-weight: bold;
  width : 100%;
  margin-bottom: 7px;
  margin-top: 7px;
}
.Registration input,.Login input{
  padding: 7px;
  width: 100%;
}

.Registration select,.Login select{
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
}
.buttons-singIn-signUp{
  display: flex;
  flex-direction: column;
  padding: 7px;

}
.buttons-singIn-signUp button{
  padding: 12px;
  font-weight: bold;
}

.active{
  background-color: #fa4299;
  color:white;
  
}